<footer class="text-center text-lg-start text-white" style="background-color: #3e4551;">

    <div class="container p-3 pb-0">
        <section class="mb-1 text-center">
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/MoeHormuz" role="button">
                <i class="fab fa-github"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                <i class="fab fa-linkedin-in"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/moe.hormuz/" role="button">
                <i class="fab fa-instagram"></i></a>
        </section>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <span>&copy; <span id="footerDate"></span> Copyright:</span>
        <a class="text-white" href="https://github.com/MoeHormuz">Moe Hormuz</a>
    </div>

</footer>


<script src="/axios/dist/axios.min.js"></script>
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>

</html>